html {
    height: 100%;
    --bg: #FCFCFC;
    --bg-navbar:#5b8efb;
    --color-headings: #909090;
    --color-text: #909090;
    --bg-box:white;
    --btn-primary: #007bff ;
}

html[data-theme='dark'] {
    --bg: #2d2d2d;
    --bg-navbar:#434343;
    --color-headings: white;
    --color-text: white;
    --bg-box:#434343;
    --btn-primary:#3694ff;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}


body{
  background-color: var(--bg);
}
/*navbar mobile*/
.navbar{
  background-color:var(--bg-navbar);
  z-index: 9999999;
  border-bottom-right-radius: 15px; 
  border-bottom-left-radius: 15px;
}
.navbar-brand{
  font-size: 32px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 200;
}
.navbar-brand,.nav-link{
  text-shadow: 2px 2px 5px black;
}



table{
  margin: 75px auto;
  font-size:23px;
}

tr{
  border-bottom: 2px solid var(--color-text);
}

td{
  color:var(--color-text);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.mode{
  width:90%;
}

.button-mode{
  padding-left: 5%;
}

@media(min-width: 992px){
	.navbar{
    background-color: var(--bg-navbar);
    transition: .3s ease-in-out;
    height: 60px;
    border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 0px;
  }

  .nav-link{
    text-transform: uppercase;
    margin-right: 30px;
    transition: .3s ease-in-out;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: .8px;
  }

  .mode{
    width:90%;
  }

  .button-mode{
    padding-left: 5%;
  }
}


