html {
    height: 100%;
    --bg: #FCFCFC;
    --bg-navbar:#5b8efb;
    --color-headings: #909090;
    --color-text: #909090;
    --bg-box:white;
    --btn-primary: #007bff ;
}

html[data-theme='dark'] {
    --bg: #2d2d2d;
    --bg-navbar:#434343;
    --color-headings: white;
    --color-text: white;
    --bg-box:#434343;
    --btn-primary:#3694ff;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}


body{
  background-color: var(--bg);
}
/*navbar mobile*/
.navbar{
  background-color:var(--bg-navbar);
  z-index: 9999999;
  border-bottom-right-radius: 15px; 
  border-bottom-left-radius: 15px;
}
.navbar-brand{
  font-size: 32px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 200;
}
.navbar-brand,.nav-link{
  text-shadow: 2px 2px 5px black;
}



table{
  margin: 75px auto;
  font-size:23px;
}

tr{
  border-bottom: 2px solid var(--color-text);
}

td{
  color:var(--color-text);
}



@media(min-width: 992px){
	.navbar{
    background-color: var(--bg-navbar);
    transition: .3s ease-in-out;
    height: 60px;
    border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 0px;
  }

  .nav-link{
    text-transform: uppercase;
    margin-right: 30px;
    transition: .3s ease-in-out;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: .8px;
  }

  .kolom-1,
  .kolom-2{
    width:50%;
  }

  .btn-terang{
    width: 100%;
    background-color: white;
    border:2px solid black;
    height: 45px;
    font-size: 20px;
    transition:.3s;
      font-family: 'Poppins', sans-serif;
  }


  .btn-gelap{
    width: 100%;
    background-color: black;
    color:white;
    height: 45px;
    font-size: 20px;  
    font-family: 'Poppins', sans-serif;
  }

}


