html {
    height: 100%;
    --bg: #FCFCFC;
    --bg-navbar:#5b8efb;
    --color-headings: #909090;
    --color-text: #4d4d4d;
    --bg-box:white;
    --border:#cccccc;
    --btn-primary: #007bff ;
}

html[data-theme='dark'] {
    --bg: #2d2d2d;
    --bg-navbar:#434343;
    --color-headings: white;
    --color-text: white;
    --bg-box:#434343;
    --border:white;
    --btn-primary:#3694ff;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}


body{
  background-color:var(--bg);
  color:var(--color-text);
}

/*navbar mobile*/
.navbar{
  background-color: var(--bg-navbar);
  z-index: 9999999;
  border-bottom-right-radius: 15px; 
  border-bottom-left-radius: 15px;
}
.navbar-brand{
  font-size: 32px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 200
}
.navbar-brand,.nav-link{
  color: white;
  text-shadow: 2px 2px 5px black;
}


/*bar profil*/
.background-profil{
	width: 100%;
	height: 350px;
	background-image: url("../img/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
	margin-top: 60px;
}

.background{
  width: 100%;
  height: 100%;
  position: center;
}
.foto-profil{
  width:180px;
  height:180px;
  background-color: red;
  border-radius: 5px;
  margin: -110px auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.profil{
  width:100%;
  height: 100%;
}

.user-name{
  margin-top:145px;
  color: var(--color-text);
  font-family: 'Poppins', sans-serif;
 margin-left: 5%;
}
.text-user-name{
  font-size:30px;
  margin-bottom:10px;
}
.text-loc,
.text-sekolah,
.text-jurusan{
  font-size:20px;
  margin-top:10px;

}
/*akhir profil*/


/*karya*/
.text-edit-profil{
  margin-top: 30px;
  font-size: 16px;
  margin-top: 15px;
  letter-spacing: .5px;
  color:var(--color-text);
  font-family: 'Lato', sans-serif;
}
.tr{
  width: 100%;
  height: 2px;
  border-bottom: 2px solid var(--border);
  margin-bottom:30px;
}

.kotak-karya{
  width:95%;
  height: 420px;
  background-color: var(--bg-box);
  border-radius: 9px;
  box-shadow: 1px 1px 5px rgba(0,0,0,.3);
  margin:15px auto;
  padding: 10px;
  padding-top: 5px;
}

.edit-btn{
  margin-left: 10px;
  margin-bottom:5px;
  color:var(--color-text);
}

.thumbnail{
  width:100%;
  height: 250px;
  border-radius: 5px;
}
/*akhir karya*/

.judul-kotak-karya{
  font-size: 23px;
  font-family: 'Poppins';
  color:var(--color-text);
  margin-top:12px;
  margin-bottom:8px;
}

.deskripsi{
  color:var(--color-text);
  font-family: 'Poppins';
}

.btn{
  color:white;
  margin-top:-3px;
  width: 50%;
}
/*akhir karya*/

.garis3{
  margin-top:140px;
  margin-left: 10px;
}

.cheked{
  color:blue;
}

.tambah{
  position: fixed;
  height: 64px;
  padding:16px 14px;
  background-color: #ff5483 !important;
  bottom:20px !important;
  right:20px;
  border-radius:50px 50px 0px 50px;
  z-index: 100;
  line-height: 32px;
  color:white;
  font-size: 12px;
}

.tambah b{
  letter-spacing: 1px;
  font-family: 'Poppins';
  font-weight: bold;
}

.lihat{
  width: 100%;
  margin-bottom: 15px;
}

.edit,
.hapus{
  width:49%; 
}

.edit{

}

.box-edit-profil{
  margin-top:10px;
  margin-left:39%;
  font-family: 'Lato';
  font-size: 17px;
  margin-bottom:20px;
  margin-top:0px;
}

@media(min-width: 992px){
  .navbar{
    background-color:var(--bg-navbar);
    height: 60px;
    border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 0px;
  }

  .nav-link{
    text-transform: uppercase;
    margin-right: 30px;
    transition: .3s ease-in-out;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .8px;
  }

  /*profil*/
  .foto-profil{
	width:200px;
	height: 200px;
	background-color: skyblue;
	position: relative;
	margin-left: 5% ;
	margin-top: -100px;
	border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.background-profil{
  height: 450px;
  overflow: hidden;
}

.user-name{
	position: relative;
	margin-top: 30px;
  font-family: 'Poppins', sans-serif;
}

.text-user-name{
	font-size:26px;
	font-weight:350px;
  margin-bottom:15px;

}

.name,
.kota{
  height: 30px;
  z-index: 1;
}

.sekolah{
  height: 30px;
  margin-left: 45px;
}

.jurusan{
  height: 30px;
  margin-left: 45px;
}


.text-loc{
	font-size:20px;
}

.text-sekolah{
  font-size:20px;
  margin-top:7px;
}

.text-jurusan{
  font-size:20px;

}


.garis{
  min-width: 20%;
  min-height: 80px;
  border-left:3px solid var(--color-text);
  float: left;
}

.garis2{
  min-width:20%;
  min-height: 80px;
  float: left;
  margin-right: 45px;
}

.garis3{
  width: 73%;
  margin-left: 23%;
  min-height: 80px;
  margin-top:30px;
}
/*akhir profil*/



/*karya*/
.karya{
/*	background-color: skyblue;*/
	width:100%;
	min-height: 300px;
	margin-top: -30px;
	padding-top:60px;
	padding-bottom: 60px;
}

.text-edit-karya{
  font-size: 20px;

}

.tr{
  width: 100%;
  height: 2px;
  margin-bottom:30px;
}

.kotak-karya{
	width:100%;
	height: 320px;
	border-radius: 9px;
	box-shadow: 1px 1px 5px rgba(0,0,0,.3);
  margin:0px auto;
  margin-bottom:30px;
  padding: 10px;
  padding-top: 5px;
}

.thumbnail{
  width:100%;
  height: 160px;
  border-radius: 5px;
}
/*akhir karya*/

.judul-kotak-karya{
  font-size: 20px;
  font-family: 'Poppins';
  color:var(--color-text);
  margin-top:15px;
  margin-bottom:3px;
}

.deskripsi{
  color:var(--color-text);
  font-family: 'Poppins';
}


.tambah{
  position: fixed;
  height: 64px;
  padding:16px 14px;
  background-color: #ff5483 !important;
  bottom:40px !important;
  right:40px;
  border-radius:50px 50px 0px 50px;
  z-index: 100;
  line-height: 32px;
  color:white;
  font-size: 14px;
}

.tambah b{
  letter-spacing: 1px;
  font-family: 'Poppins';
  font-weight: bold;
}

.edit-btn{
  margin-left: 10px;
  margin-bottom:5px;
}

.box-edit-profil{
  margin-top:10px;
  margin-left:47%;
  margin-bottom:-30px;
  font-family: 'Lato';
  font-size: 20px;
}


}