html {
    height: 100%;
    --bg: #5b8efb;
    --bg-navbar:#5b8efb;
    --color-headings: #909090;
    --color-text: #5b8efb;
    --bg-box:white;
    --btn-primary: #007bff ;
}

html[data-theme='dark'] {
    --bg: #2d2d2d;
    --bg-navbar:#434343;
    --color-headings: white;
    --color-text: white;
    --bg-box:#434343;
    --btn-primary:#3694ff;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

.body{
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background-color: var(--bg);
}

.kotak{
  width:100%;
  height: 100%;
  background-color: var(--bg-box);
  margin:0px auto;
  padding:5%;
}
.kotak .h2{
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 5px;
  margin-bottom: 20px;
  margin-top:15px;
  color: var(--color-text);
  margin-bottom:30px;
}

.kotak .icon{
  font-size:60px;
  color:  var(--color-text);
  margin-top:15px;
  margin-bottom:8px;
  margin-left:40%;
  }

.kotak .icon-1{
  margin-left: 41%;
  margin-bottom: 10px;
}

.kotak .input{
  width:95%;
  margin:15px 0px 10px 2.5%;
  height: 50px;
  padding:10px;
  font-size: 20px;
  outline: none;
  border:none;
  border-bottom:3px solid var(--color-text);
  background-color:var(--bg-box);
  color:var(--color-text);
  font-family: 'Quicksand', sans-serif;
}

.button{
  background-color: #5b8efb;
  color:white;
  width:95%;
  height: 50px;
  outline: none;
  border:none;
  margin:45px 0px 15px 2.5%;
  font-size: 28px;
  text-transform: capitalize;
  font-family: 'Quicksand', sans-serif;
  border-radius: 5px;
}


.link{
  font-size: 20px;
  text-transform: capitalize;
  margin-top:60px;
  color:var(--color-text);
  font-family: 'Quicksand', sans-serif;
}

.buat{
  float: left;
  margin-left: 15px;
}

.lupa{
  float: right;
  margin-right: 15px;
}



@media (min-width:992px){
  .kotak{
    width:30%;
    height: 75%;
    margin-top: 5.8%;
    border-radius:8px;
    padding: 1%;
  }

  .kotak .h2{
    margin-bottom: 0px;
  }

  .kotak .icon{
    font-size:62px;
    margin-top:25px;
    margin-bottom:-10px;
    margin-left:39%;
  }

  .kotak .icon-1{
    margin-left: 160px;
    margin-bottom: 5px;
  }

  .kotak .input{
   background-color:var(--bg-box);
   border-bottom:3px solid var(--color-text);
   margin-top: 15px;
  }

  .button{
    margin-top: 30px;
  }

  .link{
    margin-top: 15px;
  }

  .lupa{
    margin-right: 30px;
  }

  .buat{
    margin-left: 30px;
  }


}